@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");
body {
  background-color: #f8f7f7;
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #43525a;
  line-height: 160%;
}

h3 {
  font-size: 1.75rem;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.5rem;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

ul {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  scroll-margin-block-end: 1em;
  margin-bottom: 1rem;
  -webkit-padding-start: orem;
          padding-inline-start: orem;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

p {
  font-size: 1rem;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  margin-bottom: 1rem;
  line-height: 160;
}

img {
  vertical-align: middle;
  border-style: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 88.75rem;
}

nav, nav > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  padding: .5rem 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-size: 0.9375rem;
  text-decoration: none;
}

nav > section {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 88.75rem;
  width: 100%;
  list-style-type: none;
}

nav ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav li {
  display: inline-block;
}

nav li a {
  color: #2d2d2d;
  padding: .3125rem .625rem;
  cursor: pointer;
}

nav li a:hover {
  color: #28a5bd;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .9375rem;
  text-decoration: none;
}

#nav-izq {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  text-align: left;
}

#nav-img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: .625rem 1.875rem;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#nav-img:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

#nav-der {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  text-align: right;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-a-img {
  margin: .625rem 1.875rem;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#nav-a-img img {
  height: 52.5px;
  width: auto;
}

#nav-sep {
  display: block;
  height: 2rem;
  width: 0.0625rem;
  margin: 0 .9375rem;
  background-color: #ccc;
}

#nav-car {
  padding: .3125rem .625rem;
  color: #2d2d2d;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .9375rem 0;
  font-size: 0.9375rem;
  border: 1px solid #00000026;
  border-radius: .25rem;
}

.dropdown-content li {
  left: 2px;
}

.dropdown-content a {
  display: block;
  padding: 12px 1rem;
  color: #2d2d2d;
}

.show {
  display: block;
}

.nav-ddm {
  display: block;
}

.nav-ddm > a {
  width: 100%;
  clear: both;
  padding: .5rem 1.25rem;
  font-weight: 400;
  color: #212529;
  text-align: left;
  white-space: nowrap;
}

.nav-ddm > a:hover {
  color: #28a5bd;
  cursor: pointer;
  padding: .5rem 1.5625rem;
}

#great-slider {
  background-color: #f3f2f0;
  display: block;
}

#slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 1.875rem;
  color: #212529;
  text-align: left;
  min-width: 88.75rem;
  width: 100%;
}

#slider-text {
  padding: 5rem 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26.25rem;
          flex: 0 0 26.25rem;
  margin-right: 2.5rem;
}

#slider-text h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 130%;
  margin: 0 0 1.5625rem;
  -webkit-margin-before: 0.83rem;
          margin-block-start: 0.83rem;
  -webkit-margin-after: 0.83rem;
          margin-block-end: 0.83rem;
}

#slider-text p {
  font-size: 1rem;
  line-height: 160%;
  margin: 0;
}

#slider-blue-frame {
  display: inline-block;
  background-color: #28a5bd;
  color: #fff;
  font-size: 1.125rem;
  border: 0.125rem solid #28a5bd;
  padding: .75rem 1.6875rem;
  margin-top: 1.875rem;
}

#slider-blue-frame:hover {
  text-decoration: none;
  background-color: #1f6c7b;
}

#slider-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#slider-img > img {
  display: block;
  width: 100%;
  height: auto;
}

#overflow {
  padding: 0 0 5rem;
}

#all-overflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  padding-top: 1.25rem;
}
/*# sourceMappingURL=style.css.map */