// Google fonts
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");


// Font Variables
$muli-sans: "Muli", sans-serif;
$gloria-cursive: "Gloria Hallelujah", cursive;


// Colors Variables
$text-n1: #2d2d2d;
$text-g1: #666;
$co-fondo: #f8f7f7;
$co-blanco: #fff;
$co-hover: #28a5bd;
$co-button-hover: #1f6c7b;
$co-negrop: #000;
$co-blanco-sections: #f3f2f0;
$co-gris7: #7b7b7b;
$col-fondo-video: #bceadf;

// Transitions
$transition-3s: all 0.3s ease-in-out;
$var-trans: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

// Font-sizes
$fz-12: .75rem;
$fz-14: .875rem;
$fz-15: .9375rem;
$fz-16: 1rem;
$fz-18: 1.125rem;
$fz-24: 1.5rem;
$fz-28: 1.75rem;
$fz-32: 2rem;
$fz-42: 2.625rem;
$fz-48: 3rem;

// font-weight
$fw-700: 700;

// Standard width
$w1420: 88.75rem;

@mixin fondo-hover {
    color: $co-hover;
    cursor: pointer;
}

//
body {
    background-color: $co-fondo;
    margin: 0;
    padding: 0;
    font-family: $muli-sans;
    display: block;
    transition: $transition-3s;
    text-decoration: none;
}
h2 {
    font-family: $muli-sans;
    font-weight: $fw-700;
    font-size: $fz-18;
    color: #43525a;
    line-height: 160%;
}
h3 {
    font-size: $fz-28;
    margin-block-start: 1rem;
    margin-inline-end: 1rem;
    line-height: 1.2;
}
h4 {
    font-size: $fz-24;
    margin-inline-start: 0;
    margin-block-end: 0;
}
ul {
    margin-block-start: 1em;
    scroll-margin-block-end: 1em;
    margin-bottom: 1rem;
    padding-inline-start: orem;
}
a {
    transition: $transition-3s;
    cursor: pointer;
    text-decoration: none;
}
p {
    font-size: $fz-16;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 1rem;
    line-height: 160;
}
img {
    vertical-align: middle;
    border-style: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: $w1420;

}
// NAV
%def-val-nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
nav {
    @extend %def-val-nav;
    padding: .5rem 1rem;
    flex-flow: row nowrap;
    font-size: $fz-15;
    text-decoration: none;
    
    > section {
        @extend %def-val-nav;
        flex-wrap: nowrap;
        min-width: $w1420;
        width: 100%;
        list-style-type: none;
    }
    ul{
        flex-direction: row;
    }
    li {
        display: inline-block;

        a {
            
            color: $text-n1;
            padding: .3125rem .625rem;
            cursor: pointer;

            &:hover {
                color: $co-hover;
            }
        }
    }
}

#nav {
    display: flex;
    font-size: .9375rem;
    text-decoration: none;
    
    &-izq {
        order: 1;
        flex: auto;
        text-align: left;
    }
    &-img {
        order: 2;
        flex-grow: 0;
        flex-shrink: 0;
        margin: .625rem 1.875rem;
        transition: $var-trans;
        transform: translateY(0);
        
        &:hover {
            transform: translateY(10px);
        }
    }
    &-der {
        display: flex;
        order: 3;
        flex: auto;
        text-align: right;
        flex-wrap: nowrap;
        align-items: center;
    }
    &-a-img { 
        margin: .625rem 1.875rem;
        transition: $var-trans;

        img { 
            height: 52.5px;
            width: auto;
        }
    }
    &-sep { 
        display: block;
        height: 2rem;
        width: 0.0625rem;
        margin: 0 .9375rem;
        background-color: #ccc;
    }
    &-car {
        padding: .3125rem .625rem;
        color: $text-n1;
    }
}

.dropdown {
    display: inline-block;
    position: relative;

    &-content {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: $co-blanco;
        text-align: left;
        box-sizing: border-box;
        padding: .9375rem 0;
        font-size: $fz-15;
        border: 1px solid #00000026;
        border-radius: .25rem;
    }

    &-content li {
        left: 2px;
    }
    &-content a {
        display: block;
        padding: 12px 1rem;
        color: $text-n1;
    }
}

.show {
    display: block;
}

.nav {
    &-ddm {
        display: block;

        > a {
            width: 100%;
            clear: both;
            padding: .5rem 1.25rem;
            font-weight: 400;
            color: #212529;
            text-align: left;
            white-space: nowrap;

            &:hover {
                @include fondo-hover;
                padding: .5rem 1.5625rem;
            }
        }
    }
}

// SLIDER
#great-slider {
    background-color: #f3f2f0;
    display: block;
}
#slider {
    display: flex;
    position: relative;
    padding: 0 1.875rem;
    color: #212529;
    text-align: left;
    min-width: 88.75rem;
    width: 100%;

    &-text {
        padding: 5rem 0;
        flex: 0 0 26.25rem;
        margin-right: 2.5rem;

        h1 {
            font-size: $fz-48;
            font-weight: $fw-700;
            line-height: 130%;
            margin: 0 0 1.5625rem;
            margin-block-start: 0.83rem;
            margin-block-end: 0.83rem;
        }
        p {
            font-size: $fz-16;
            line-height: 160%;
            margin: 0;
        }
    }
    &-blue-frame {
        display: inline-block;
        background-color: $co-hover;
        color: $co-blanco;
        font-size: $fz-18;
        border: .125rem solid $co-hover;
        padding: .75rem 1.6875rem;
        margin-top: 1.875rem;

        &:hover {
            text-decoration: none;
            background-color: $co-button-hover;
        }
    }
    &-img {
        display: flex;
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
        align-self: center;
        justify-content: center;

        > img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

// OVERFLOW 
#overflow {
    padding: 0 0 5rem;
}
#all-overflow {
    display: flex;
    align-items: center;
    overflow: auto;
    padding-top: 1.25rem;
}
.over-module {
    flex: 1 1 100%;
    margin: 0 1.875rem;
    min-width: 10rem;
}
.img-module {
    position: relative;
    overflow: hidden;

    > img {
        display: block;
        width: 7.5rem;
        height: auto;
        margin: 0 auto;
        transition: all 0.4s ease-in-out;
        transform: translateY(.9375rem);

        &:hover {
            transform: translateY(0);
        }
    }
    > span.sombra-baja {
        display: block;
        width: 90%;
        height: .375rem;
        margin: 0 5%;
        background-color: $co-negrop;
        position: absolute;
        bottom: 0rem;
        border-radius: 100%;
        filter: blur(6px);
    }
    .tex-module {
        display: flex;
        align-items: center;
        margin-top: 1.25rem;

        > img {
            flex: 0 0 1.875rem;
            width: 1.875rem;
            margin-right: .625rem;
            vertical-align: middle;
        }
        > span {
            flex: 1 1 100%;
            font-size: .75rem;
        }
    }
}

// SKETCH
#great-sketch {
    background-color: $co-blanco-sections;
    padding: 6.25rem 0;
}
#sketch {
    display: flex;
    align-items: center;

    &-mod1 {
        flex: 0 0 40%;
        margin-right: 3.125rem;

        > h1 {
            font-size: $fz-32;
            line-height: 150%;
            font-weight: bold;
            margin: 0 0 1.25rem;
            min-width: 31.25rem;
            color: #43525a;
        }
        > p {
            font-size: $fz-14;
            line-height: 160%;
            margin-bottom: 1rem;
        }
        > span {
            display: block;
            font-size: $fz-14;
            font-style: italic;
            color: $text-g1;
            margin-top: 1.875rem;
            margin-bottom: .9375rem;
        }
        > a {
            font-size: $fz-14;
            padding: 9.5px 1.3125rem;
            text-decoration: none;
            background-color: $co-hover;
            color: $co-blanco;

            &:hover {
                text-decoration: underline;
                background-color: $co-button-hover;
            }
        }
    }
    &-mod2 {
        flex: 1 1 100%;
    }
}

// 4C
#c4 {
    padding: 0 1.875rem;
    min-width: 88.75rem;
    width: 100%;

    > h3 {
        font-size: $fz-24;
        font-weight: $fw-700;
        margin: 0 0 2.5rem;
    }
    > ul {
        display: flex;
        margin-left: -3.125rem;
        margin-right: -3.125rem;
        padding: 0;

        > li {
            display: flex;
            flex: 1 1 25%;
            list-style-type: none;
            margin: 0 .625rem;
            border: 1px solid #dedede;
            box-sizing: border-box;
            transition: $transition-3s;
            box-shadow: 0 0 0.3125rem 0 #0000000d;

            &:hover:not(:last-child) {
                opacity: 0.8;
                box-shadow: 0 0 0.625rem 0 #00000026;
            }
            > article {
                display: flex;
                color: $text-n1;
                flex-direction: column;
                background-size: contain;
                background-position: center bottom;
                background-repeat: no-repeat;
                padding: 2.5rem 1.875rem 13.125rem;
            }
        }
    }
}
.h4-4c {
    font-size: $fz-18;
    font-weight: bold;
    margin: 0 0 .625rem;
}
.frame p {
    font-size: $fz-14;
    opacity: .85;
}
.s-4c {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $text-n1;
    opacity: .2;
    margin: .625rem 0;

    + div {
        display: flex;
    }
}
.info-4c {
    font-size: $fz-12;
    width: 5rem;
    opacity: .85;
}
.cont-4c {
    font-size: $fz-14;
}
.cont_price-4c {
    font-size: $fz-16;
    font-weight: bold;
}
.blue-4c {
    font-size: $fz-14;
    font-weight: bold;
    color: $co-hover;
    align-self: center;
    margin-right: .625rem;
}
#l4-c4 {
    border: none;
    align-items: center;
    margin: 0 .625rem;
    padding: 0 2.5rem;
}
#frame4 {
    display: flex;
    padding: 0rem;
    flex-direction: column;
    color: $text-n1;

    > span {
        display: block;
        font-size: $fz-28;
        font-weight: 400;
        margin: 0 0 1.25rem;
    }
    p {
        font-size: $fz-14;
        color: $text-g1;
        margin-top: 0;
    }
    a {
        display: inline-block;
        background-color: $co-hover;
        border: .125rem solid $co-hover;
        color: $co-blanco;
        padding: .5833rem 1.325rem;
        font-size: $fz-14;
    }
    > div {
        display: inline-block;
        position: relative;
        margin: 1.875rem 0 0;
        box-sizing: border-box;
    }
}
#instruccion-4c {
    display: block;
    font-family: $gloria-cursive;
    position: absolute;
    font-size: $fz-16;
    top: -1.875rem;
    right: -6.875rem;
}
.instruccion {
    > span {
        color: $co-gris7;
        text-align: center;
        min-width: 8.75rem;
        transform: rotate(15deg);
        font-size: $fz-16;
    }
    > img {
        display: block;
        position: relative;
        height: auto;
        width: 1.5rem;
        margin: 0 auto 0;
    }
}

// 3IMG
#big-img3 {
    padding: 5rem 0;
    background-color: $co-blanco-sections;
}
#img3 {
    display: grid;
    align-items: center;
    padding: 0 1.875rem;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3.75rem;

    div:first-child {
        display: flex;
        flex-wrap: wrap;
    }
    &-child {
        img:first-child {
        display: block;
        margin-bottom: 2.5rem;
        opacity: 1;
        flex: 0 0 100%;
        }
        img:nth-child(2) {
            flex: 0 0 50%;
            padding-right: 1.25rem;
        }
    }
}
#big-video {
    display: block;
    position: relative;
    flex: 0 0 50%;
    box-sizing: border-box;
}
#little-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.25rem;
    right: 0;
    overflow: hidden;

    video {
        opacity: 1;
        object-fit: cover;
        object-position: left;
    }
}
#img3-second {
    position: relative;

    h2 {
        font-weight: 400;
        font-size: 2.25rem;
        margin: 0 0 1.25rem;
    }
    p{
        color: $text-g1;
        font-size: $fz-14;
    }
}
#list-3img {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1.875rem;
    padding-inline-start: 0;
}
.li-3img {
    display: flex;
    align-items: center;
    margin: .3125rem 0;

    img {
        display: block;
        width: 3rem;
        height: auto;
        margin-right: .9375rem;
    }
    span {
        display: block;
        font-size: $fz-16;
        font-weight: 600;
    }
}

// ALING-SELF
#img3-second {
    div {
        padding: 1.875rem;
        margin: 1.875rem 0 0 ;
        width: 100%;
        align-self: flex-end;
        border-top: .0625rem solid #ddd;

        a {
            color: $co-hover;

            &:hover {
                text-decoration: undeline;
                color: $co-button-hover;
            }
        }
    }
}

// MARCAS
#marcas {
    display: block;
    padding: 5rem 0 3.75rem;
    box-sizing: border-box;
}
#art-marcas {
    padding: 0 1.875rem;

    h3 {
        margin: 0 0 .625rem;
        font-weight: 400;
        font-size: $fz-24;
        text-align: center;
    }
}
#img-marcas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    a {
        margin: 1.25rem;
        filter: grayscale(1);
    }
    img {
        height: 5rem;
        width: auto;
    }
}

// VIDEO
#video {
    padding: 6.25rem 0;
    background-color: $col-fondo-video;
    
    &-div1 {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        max-width: 100%;
        margin-left: 0;
        padding-right: 3.75rem;
        flex: 0 0 28.75rem;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    article {
        display: flex;
        align-items: center;

        div {
            &:first-child {
                flex: 1 1 100%;
            }
            &:last-child {
                flex: 0 0 28.75rem;
                padding-right: 3.75rem;
                margin-left: 3.125rem;
                box-sizing: border-box;
            }
        }
    }
    h2 {
        margin: 0 0 1.875rem;
        font-weight: bold;
        font-size: $fz-42;
    }
    p {
        line-height: 160%;
        font-size: $fz-14;
    }
}


// INDICE
#indice {
    display: flex;

    > a {
        display: block;
        padding: .625rem 2.5rem .625rem 0;
        margin-right: 2rem;
        border-right: .0525rem solid rgb(148, 144, 144);

        > img {
            width: 6.25rem;
            height: auto;
        }
    }
    > nav {
        display: block;
    }
}
#ind-contenedor {
    display: flex;
    padding: 0;
    margin: 0;
}
.ind-list {
    display: list-item;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1.875rem;
    list-style-type: none;
    padding-inline-start: 40px;

    li {
        &:first-child {
            font-size: $fz-12;
            color: #bababa;
            margin-bottom: 1.25rem;
        }
    }
}
.li{
    &-el {
        font-size: $fz-14;
        margin: .4375rem 0;

        a {
            color: $text-g1;
        }
    }
}


// DERECHOS
#derechos {
    padding: 2.5rem 0;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-top: .0625rem solid #ddd;
    border-bottom: .0625rem solid #ddd;
    color: $text-g1;
    text-align: center;
    font-size: $fz-12;
}